@model dynamic

@{
    ViewBag.Title = "Product";
    Layout = "_Layout";
}

<script>

    function ConfiguratorOpenWindow(query, w, h, scroll) {
        var l = (screen.width - w) / 2;
        var t = (screen.height - h) / 2;

        var winprops = 'resizable=0, height=' + h + ',width=' + w + ',top=' + t + ',left=' + l + 'w';
        if (scroll) winprops += ',scrollbars=1';
        var f = window.open(query, "_blank", winprops);
        return f;
    }


    var ConfiguratorOpen = function () {
        var w = ConfiguratorOpenWindow("https://localhost:44337/Home/Vouwwanden", 1200, 800, true);


    }

</script>

<h2>Product</h2>

<table>
    <tr>
        <td>

            <button onclick="ConfiguratorOpen()">Select Product Configurator</button>

        </td>
    </tr>
    <tr>
        <td>

            <label>Configuration</label>
            <textarea id="Configuration"/>

        </td>
    </tr>
    <tr>
        <td>

            <label>ConfigurationDescription</label>
            <textarea id="ConfigurationDescription"/>

        </td>
    </tr>
</table>
