@using System.Reflection
@model ProductConfiguratorConfigurationModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Products.ProductConfigurator.Configuration").Text;
}

<script src="~/js/both.productconfigurator2.js" ></script>

<script>
    @await Component.InvokeAsync("ProductConfigurationScript", new { modelType = Model.ModelType, initial = Model.Initial })
</script>
 
<form asp-controller="ProductConfigurator" asp-action="Configuration">
    <input id="ProductConfigurator_Description" type="hidden" />
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Catalog.Products.ProductConfigurator.Configuration")
        </h1>
        <div class="float-right">
            &nbsp;
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        @await Component.InvokeAsync(Model.ViewName, Model.DefaultModel)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <nop-label asp-for="Price"/>
                                                </div>
                                                <div class="col-md-9">
                                                    <div id="ProductConfigurator_Price"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" name="save" class="btn btn-primary" onclick="productConfigurator.Ok()">
                                <i class="far fa-save"></i>
                                @T("Admin.Common.Save")
                            </button>
                        </div>
                    </div>
                    <div class="card card-default card-search card-popup">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-sm-5">
                                            <nop-label asp-for="ConfiguratorId"/>
                                        </div>
                                        <div class="col-sm-7">
                                            <nop-select asp-for="ConfiguratorId" asp-items="Model.AvailableConfigurators"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" id="select-productconfigurator" class="btn btn-primary btn-search">
                                        <i class="fas fa-cogs"></i>
                                        @T("Admin.Common.Select")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>