@model ProductDetailsModel

@if (Model.ProductConfigurator.IsEnabled)
{
    <input type="hidden" id="ConfiguratorId" name="ConfiguratorId" value="@Model.ProductConfigurator.ConfiguratorId" />

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    @await Component.InvokeAsync(Model.ProductConfigurator.ViewName, Model.ProductConfigurator.DefaultModel)
                </div>
            </div>
        </div>
    </div>
}
