@using Nop.Services
@using Nop.Plugin.Misc.Kozijnen.Models.AluminiumVouwwand
@*@model Nop.Web.Areas.Admin.Models.Catalog.ProductConfiguratorConfigurationModel*@
@model AluminiumVouwwandModel

<div class="attributes">
    <dl>
        <dt>
            <nop-label asp-for="BreedteKozijn" />
        </dt>
        <dd>
            <nop-editor asp-for="BreedteKozijn.Value" />
            <span asp-validation-for="BreedteKozijn.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="HoogteKozijn" />
        </dt>
        <dd>
            <nop-editor asp-for="HoogteKozijn.Value" />
            <span asp-validation-for="HoogteKozijn"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="AantalDelen" />
        </dt>
        <dd>
            <nop-select asp-for="AantalDelen.Value" asp-items="@await Model.AantalDelen.Value.GetValueOrDefault(AantalDelen.Delen2).ToSelectListAsync()" />
            <span asp-validation-for="AantalDelen.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="Verdeling2" />
        </dt>
        <dd>
            <nop-select asp-for="Verdeling2.Value" asp-items="@await Model.Verdeling2.Value.ToSelectListAsync()" />
            <span asp-validation-for="Verdeling2.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="Verdeling3" />
        </dt>
        <dd>
            <nop-select asp-for="Verdeling3.Value" asp-items="@await Model.Verdeling3.Value.ToSelectListAsync()" />
            <span asp-validation-for="Verdeling3.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="Verdeling4" />
        </dt>
        <dd>
            <nop-select asp-for="Verdeling4.Value" asp-items="@await Model.Verdeling4.Value.ToSelectListAsync()" />
            <span asp-validation-for="Verdeling4.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="Verdeling5" />
        </dt>
        <dd>
            <nop-select asp-for="Verdeling5.Value" asp-items="@await Model.Verdeling5.Value.ToSelectListAsync()" />
            <span asp-validation-for="Verdeling5.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="Verdeling6" />
        </dt>
        <dd>
            <nop-select asp-for="Verdeling6.Value" asp-items="@await Model.Verdeling6.Value.ToSelectListAsync()" />
            <span asp-validation-for="Verdeling6.Value"></span>
        </dd>
    </dl>
    
    <dl>
        <dt>
            <nop-label asp-for="Vouwrichting" />
        </dt>
        <dd>
            <nop-select asp-for="Vouwrichting.Value" asp-items="@await Model.Vouwrichting.Value.ToSelectListAsync()" />
            <span asp-validation-for="Vouwrichting.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="VouwKlink" />
        </dt>
        <dd>
            <nop-select asp-for="VouwKlink.Value" asp-items="@await Model.VouwKlink.Value.ToSelectListAsync()" />
            <span asp-validation-for="VouwKlink.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="TypeProfiel" />
        </dt>
        <dd>
            <nop-select asp-for="TypeProfiel.Value" asp-items="@await Model.TypeProfiel.Value.ToSelectListAsync()" />
            <span asp-validation-for="TypeProfiel.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="MetAanslag" />
        </dt>
        <dd>
            <nop-select asp-for="MetAanslag.Value" asp-items="@await Model.MetAanslag.Value.ToSelectListAsync()" />
            <span asp-validation-for="MetAanslag.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="Glas" />
        </dt>
        <dd>
            <nop-select asp-for="Glas.Value" asp-items="@await Model.Glas.Value.ToSelectListAsync()" />
            <span asp-validation-for="Glas.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="KleurAfstandHouders" />
        </dt>
        <dd>
            <nop-select asp-for="KleurAfstandHouders.Value" asp-items="@await Model.KleurAfstandHouders.Value.ToSelectListAsync()" />
            <span asp-validation-for="KleurAfstandHouders.Value"></span>
        </dd>
    </dl>


    <dl>
        <dt>
            <nop-label asp-for="Roeden" />
        </dt>
        <dd>
            <nop-select asp-for="Roeden.Value" asp-items="@await Model.Roeden.Value.ToSelectListAsync()" />
            <span asp-validation-for="Roeden.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="Structuur" />
        </dt>
        <dd>
            <nop-select asp-for="Structuur.Value" asp-items="@await Model.Structuur.Value.ToSelectListAsync()" />
            <span asp-validation-for="Structuur.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="KleurBinnenkant" />
        </dt>
        <dd>
            <nop-editor asp-for="KleurBinnenkant.Value" />
            <span asp-validation-for="KleurBinnenkant.Value"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <nop-label asp-for="KleurBuitenkant" />
        </dt>
        <dd>
            <nop-editor asp-for="KleurBuitenkant.Value" />
            <span asp-validation-for="KleurBuitenkant"></span>
        </dd>

    </dl>

</div>
